<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="crawlData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <crawlData.Properties.Settings>
            <setting name="ColumnConfigs" serializeAs="String">
                <value />
            </setting>
            <setting name="ColumnDataConfigs" serializeAs="String">
                <value />
            </setting>
            <setting name="ColumnThread" serializeAs="String">
                <value />
            </setting>
            <setting name="ColumnNumHang" serializeAs="String">
                <value />
            </setting>
            <setting name="ColumnNumCot" serializeAs="String">
                <value />
            </setting>
        </crawlData.Properties.Settings>
    </userSettings>
</configuration>